# C++ files
*.o
*.obj
*.exe
*.out
*.log
*.gch
*.lnk
*.bat

# Shipped executables
!dist/wordle-random.exe
!dist/wordle-demo.exe

# Python cache and virtual environments
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env/
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Icon folder
icon/

# PyInstaller
build/